@import '../../App.scss';

@keyframes error {
    0% {
        background-size: 300%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Lost {
    height: 100%; width: 100%;
    padding: 15vh 0 0 50px;
    position: absolute;
    z-index: 7;
    background-image: linear-gradient(135deg, #5d0422 0%, #5d0422 40%,  #a10237 40%,#a10237 75%, #5d0422 75%, #5d0422 100%);
    color: white;
    animation: error 1s 1 ease-in-out;
}

.Lost p {
    max-width: 520px;
    margin: 20px 0 40px 0;
    font-size: 18px;
}

.Lost button a{
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    font-weight: bold;
}

.Lost button a:hover {
    animation: cardHover 0.8s 1 ease-in-out;
}

.Lost h1, .Lost p, .Lost button {
    animation: fade 2s 1 ease-in-out;
} 


@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .Lost p {
    margin: 70px 0 70px 0;
}

    }