%first-plan {
    position: absolute;
    z-index: 4;
}

%second-plan {
    position: absolute;
    z-index: 3;
}

%third-plan {
    position: relative;
    z-index: 2;
}

%fourth-plan {
    position: absolute;
    z-index: 1;
}