/*Size police*/

$logoSize: 1.875em;
$h3mission-mb: 5em;
$h3mission-lp: 7em;
$strong: 1.375em;
$em: 16px;

/*text-align*/

$text-justify: justify;
$text-center: center;

/*Color*/

$main-color:#E3004C;
$secondary-color:#E3B200;
$color-dark:#000000;
$color-clear:#ffffff;
$colorT: transparent;

/*Size screen*/

$all-height:100vh;
$half-height:50vh;