@import '../../App.scss';

.slide-contact {
    width: 100vw;
    background-position: right;
    background-image: linear-gradient(45deg, transparent 0%, transparent 90%, #a10237 90%, #a10237 100%);
}

.contact-main {
    height: 45vh;
    padding-top: 20vh;
    padding-left: 8%;
    font-size: 23px;
}

    .contact-link {
        display: flex;
    } 

.email {
    color: $color-dark;
}

.hand-left {
    animation: handLink 1s infinite ease-in-out;
}

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .contact-main {
        font-size: 30px;
    }
    }

@media screen and (min-width: 1024px) {
    /* tablettes et ordinateurs */
    .contact-main {
        height: 47.5vh;
        font-size: 45px;
    }
    
    }