.folioLand {
    background-image: url('../../assets/img-mission/portfolio/folioLand.png');
}

.folioHalf {
    background-image: url('../../assets/img-mission/portfolio/folio-users-tablette.png');
}

.folioCard {
    background-image: url('../../assets/img-mission/portfolio/folio-mobile2.png');
}