.rainyLand {
    background-image: url('../../assets/img-mission/rainyday/rainyLand.jpg');
}

.rainyHalf {
    background-image: url('../../assets/img-mission/rainyday/RainyDay-users-tablette.png');
}

.rainyCard {
    background-image: url('../../assets/img-mission/rainyday/RainyDay-mobile2.png');
}