/* HEAD BACKGROUND SLIDE */

@keyframes slideBack-main {
    0% {
        background-size: 400%;
    }

    100% {
        background-size: 100%;
    }
}

/* ABOUT BACKGROUND SLIDE */

@keyframes slideBack-about {
    0% {
        background-size: 0%;
    }

    100% {
        background-size: 100%;
    }
}

/* PROJECT FOREGROUND SLIDE */

@keyframes slideProjectF{
    0% {
        width: 100%;
        background-size: 3200%;
    }

    100% {
        width: 100%;
        background-size: 0%;
    }
}

    /* middle Screen */
    @keyframes slideProjectF-mb{
        0% {
            width: 100%;
            background-size: 2300%;
        }

        100% {
            width: 100%;
            background-size: 0%;
        }
    }

    /* large Screen */
    @keyframes slideProjectF-lg{
        0% {
            width: 100%;
            background-size: 1500%;
        }

        100% {
            width: 100%;
            background-size: 0%;
        }
    }

/* PROJECT BACKGROUND SLIDE */

@keyframes slideProjectB{
    0% {
        background-size: 300%;
    }

    100% {
        background-size: 100%;
    }
}

    @keyframes slideProjectB-mb{
        0% {
            background-size: 400%;
        }

        100% {
            background-size: 100%;
        }
    }

/* FIRST TECHNO SLIDE */

@keyframes slideTech1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* SECOND TECHNO SLIDE */

@keyframes slideTech2 {
    0% {
        transform: translateX(-23%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* THIRD TECHNO SLIDE */

@keyframes slideTech3 {
    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* FOURTH TECHNO SLIDE */

@keyframes slideTech4 {
    0% {
        transform: translateX(-53%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* FIFTH TECHNO SLIDE */

@keyframes slideTech5 {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}