@import '../../App.scss';
@import './anim_slide.scss';

.slideTech {
    width: 100%;
    height: 45vh;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
    border-top: 1px black solid;
    background-color: #a10237;
    color: white; 
}

.slideTech mark {
    color: white;
  }

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .slideTech {
        padding-left: 10px;
        word-spacing: 4em;
        font-size: 1.488em;
    }
    }

@media screen and (min-width: 1024px) {
    /* tablettes et ordinateurs */
    .slideTech {
        font-size: 2.2em;
        height: 47.5vh;
    }
    
    }

@media screen and (min-width: 1660px) {
    /* tablettes et ordinateurs */
    .slideTech {
        font-size: 3.388em;
    }
        
    }