@import '../../App.scss';
@import './anim_slide.scss';

.Tech {
    width: max-content;
    background-color: #A10237;
    border-radius: 10px;
    margin-top: 90px;
}

.Tech mark {
    color: white;
  }

@media screen and (min-width: 320px) and (max-height: 480px) {
  /* tablettes et ordinateurs */
  .Tech {
    margin-top: 0px;
  }
}

@media only screen 
  and (min-width: 640px) 
  and (max-width: 823px)
  and (min-height: 360px)
  and (max-height: 414px)
  and (orientation: landscape) {
  /* smartphone landscapes */
    .Tech {
        margin-top: 0px;
    }
  }

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .Tech {
        padding: 5px 15px;
        word-spacing: 25px;
        box-shadow: inset .1em -.1em rgb(98, 2, 34);
    }
    }

@media screen and (min-width: 1024px) {
    /* tablettes et ordinateurs */
    .Tech {
        word-spacing: 40px;
    }
    
    }