@import '../../App.scss';

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5d0422;
    color: white;
}

.icons {
    width: 30px;
}

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .icons {
        width: 30px;
    }
    }

@media screen and (min-width: 1024px) {
    /* tablettes et ordinateurs */
    footer {
        height: 5vh;
    }
        
    }