.figurLand {
    background-image: url('../../assets/img-mission/figurtoys/figurLand.jpg');
}

.figurHalf {
    background-image: url('../../assets/img-mission/figurtoys/figur-users-tablette.jpg');
}

.figurCard {
    background-image: url('../../assets/img-mission/figurtoys/figur-mobile2.jpg');
}