.folioLand {
    background-image: url('../../assets/img-mission/portfolio/folioLand.jpg');
}

.folioHalf {
    background-image: url('../../assets/img-mission/portfolio/folio-users-tablette.jpg');
}

.folioCard {
    background-image: url('../../assets/img-mission/portfolio/folio-mobile2.jpg');
}