@import '../App.scss';
@import './slideshow/anim_slide.scss';

.head-Main {
    display:flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 3%;
    background-image: linear-gradient(45deg, $fourth-color 0%, $fourth-color 20%, $third-color 20%,$third-color 45%, $secondary-color 45%, $secondary-color 75%, $main-color 75%, $main-color 100%);
}

h1, h2 {
    color: $color-clear;
    font-weight: $light;
}
h1 {
    font-size: $sz11;
}

h2 {
    font-size: $sz8;
}

.about {
    display: flex;
    align-items: center;
    text-align: $text-justify;
    padding: 0 5%;
    color: white;
    background-image: linear-gradient(45deg, $main-color 0%, $main-color 20%,#4B0019 20%,#a10237 80%, $main-color 80%, $main-color 100%);
}

    .about-plus {
        font-family: "manrope", Arial, Helvetica, sans-serif;
    }

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    h1 {
        font-size: $sz18;
    }
    h2 {
        font-size: $sz14;
    }
    
    .about {
        font-size: $sz7;
    }

    }

@media screen and (min-width: 1024px) {
    /* tablettes et ordinateurs */
    .about {
        font-size: $sz9;
    }

    }



@media screen and (min-width: 1224px) {
    /* ordinateurs */
    .about {
        padding: 0 20%;
    }

    }