@import '../App.scss';

.head-Main {
    height: $all-height;
    display:flex;
    flex-direction: column;
    justify-content: center;  
    padding-left: 3%;
    background-image: linear-gradient(45deg, #5d0422 0%, #5d0422 20%,#4B0019 20%,#4B0019 45%,#a10237 45%,#a10237 75%, $main-color 75%, $main-color 100%);
}

h1, h2 {
    color: $color-clear;
    font-weight: lighter;
}
h1 {
    font-size: 2.188em;
}

h2 {
    font-size: 1.563em;
}

.about {
    height: $all-height;
    display: flex;
    align-items: center;
    text-align: $text-justify;
    padding: 0 5%;
    color: white; 
    background-image: linear-gradient(45deg, $main-color 0%, $main-color 20%,#4B0019 20%,#a10237 80%, $main-color 80%, $main-color 100%);
}

// .end-folio {
//     background-image: linear-gradient(45deg, $color-clear 0%, $color-clear 25%, $main-color 25%, $main-color 45%, $color-clear 45%, $color-clear 100%);
// }

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    h1 {
        font-size: 7.375em;
    }
    h2 {
        font-size: 3.125em;
    }
    
    .about {
        font-size: 1.5em;
    }

    }

@media screen and (min-width: 1024px) {
    /* tablettes et ordinateurs */
    .about {
        font-size: 1.8em;
    }

    }



@media screen and (min-width: 1224px) {
    /* ordinateurs */
    .about {
        padding: 0 20%;
    }

    }