@import '../../App.scss';

.projet {
    height: $all-height;
    display: flex;
}

.col-preview {
    padding: 15vh 0 0 6%;
}

.col-preview h3 {
    font-size: $h3Project;
    @extend %second-plan;
}

.col-preview em {
    font-size: $em;
    @extend %second-plan;
    margin-top: 9vh;
}

.card-project {
    height: 55vh;
    width: 50vw;
    @extend %second-plan;
    margin-top: 15vh;
    border-radius: 10px;
    background-image: url("../../assets/card-projects/Accueil\ Mobile.png");
}

.col-svg { 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    @extend %third-plan;
    
}

.svg-project { //yo t'est ici !
    width: 600px;
}

.slide-project-1 { // slide d'animation
    // display: none;
    width: 2%;
    height: $all-height;  
    @extend %first-plan;
    background-color: blue;
    
}

.slide-project-2 {
    width: 100%;
    height: $all-height;
    @extend %fourth-plan;
    background-image: linear-gradient(45deg, black 0%, black 22%,#E3B200 22%,#E3B200 45%,transparent 45%, transparent 100%); // for laptop 45% au lieu de 80%
}