@import '../../App.scss';
@import './customer/rainyDay.scss';
@import './customer/porftolio.scss';
@import './customer/figurToys.scss';
@import './customer/acacia.scss';

.projet {
    height: $all-height;
    display: flex;
}

.col-preview {
    padding: 15vh 0 0 7%;
}

.col-preview h3 {
    @extend %second-plan;
}

.col-preview em {
    font-size: 16px;
    @extend %second-plan;
    margin-top: 10vh;
    color: $color-clear;
}

.card-project {
    height: 50vh;
    width: 50vw;
    max-width: 824px; 
    @extend %second-plan;
    margin-top: 18vh;
    border-radius: 10px;
    background-size: cover;//normalement c'est temporaire ça depend parallax ou non
}

.col-mb { 
    width: 100vw;
    display: flex;
    align-items: center;
    // justify-content: flex-start; // justify-content: flex-end; pour ordi
    overflow: hidden;
    @extend %third-plan;
}

.slide-project { // slide d'animation
    // display: none;
    width: 2%;
    height: $all-height;  
    @extend %first-plan;
}

.slide-project-2 {
    width: 100%;
    height: $all-height;
    @extend %fourth-plan;
}

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .col-preview em {
        font-size: $logoSize;
    }

    .col-mb { 
        justify-content: flex-end; 
    }

    }