@import '../../App.scss';
@import './customer/rainyDay.scss';
@import './customer/porftolio.scss';
@import './customer/figurToys.scss';
@import './customer/acacia.scss';

.projet {
    height: $all-height;
    display: flex;
}

.projet {
    animation: slideProjectB 2s ease-in-out 1;
}

.col-preview h3 {
    @extend %second-plan;
    padding: 15vh 0 0 7%;
}

.col-preview em { 
    @extend %second-plan;
    margin-top: 10vh;
    padding: 17vh 0 0 7%;
    font-size: 16px;
    color: $color-clear;
}

.card-project {
    height: 50vh;
    width: 50vw;
    max-width: 824px; 
    @extend %second-plan;
    margin: 35vh 0 0 7%;
    border-radius: 10px;
    background-size: cover;//normalement c'est temporaire ça depend parallax ou non
}

.col-mb { 
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    @extend %third-plan;
}

.slide-project { // slide d'animation
    width: 0%;
    height: $all-height;  
    @extend %first-plan;
    background-repeat: no-repeat;
}

.slide-project {
    animation: slideProjectF 2s ease-in-out 1;
}

@media only screen 
    and (min-width: 640px) 
    and (max-width: 823px)
    and (min-height: 360px)
    and (max-height: 414px)
    and (orientation: landscape) {
    /* smartphone landscapes */
    .col-preview em {
        font-size: $emproject-sd;
        margin-top: 21vh;
    }
    
    .card-project {
        width: 40vw;
        margin-top: 45vh;
    }
    }

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .projet {
        animation: slideProjectB-mb 2s ease-in-out 1;
    }

    .col-preview h3, .col-preview em {
    padding: 15vh 0 0 7%;
}

    .col-mb { 
        justify-content: flex-end; 
    }

    .slide-project {
        animation: slideProjectF-mb 2s ease-in-out 1;
    }

    }
    
@media screen and (min-width: 824px) {
    /* tablettes et ordinateurs */
    .col-preview em {
        font-size: $emproject-mb;
    }
    
    }

    @media (min-device-width: 1024px) and (max-device-width: 1400px)and (orientation: landscape) {
        /* tablettes */
        .col-preview em {
            margin-top: 11vh;
        }

        .card-project {
            height: 45vh;
        }

        }
        
@media screen and (min-width: 1400px) {
    /* ordinateurs */
    .projet {
        animation: slideProjectB 2s ease-in-out 1;
    }

    .slide-project {
        animation: slideProjectF-lg 2s ease-in-out 1;
    }
        
}