@import '../../../App.scss';

//////// Portfolio customization /////////

.col-preview .h3-folio {
    font-size: 3.8em;//regler le bail bizarre avec le texte
    color: $color-clear;
}

.col-preview .b-folio, .mark-tech-folio{
    color: #FEBC78;
}

.card-folio {
    background-image: url("../../../assets/card-projects/folio-mobile.jpg");
}

.svg-project-folio { 
    width: 650px; //800px a la fin
    margin: 12vh 0 0 -9vw;
    position: absolute;
}

.slide-folio { // slide d'animation
    background-image: linear-gradient(45deg, #DD5C5C 0%, #DD5C5C 10%, transparent 10%, transparent 100%);
}

.slide-folio-2 {
    background-image: linear-gradient(45deg, #DD5C5C 0%, #DD5C5C 27%,#FEBC78 27%,#FEBC78 72%,transparent 72%, transparent 100%); // for laptop 45% au lieu de 70% et au lieu de 27% c'est 22%, ensuite pour les mobile je ferais du cas par cas car le svg dépasse un peu
}

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */

    .col-preview .b-folio, .mark-tech-folio {
        color: $color-clear;
    }

    .card-folio {
        background-image: url("../../../assets/card-projects/folio-tablette.jpg");
    }

    .svg-project-folio { 
        width: 800px; //800px a la fin
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles pour cette Media Queries */
    .svg-project-folio { 
        margin-right: -23vw;
    }
    }

@media screen and (min-width: 1224px) {
    /* ordinateurs */
    
    .col-preview .b-folio, .mark-tech-folio{
        color: #DD5C5C;
    }

    .card-folio {
        background-image: url("../../../assets/card-projects/folio.jpg");
    }
    
    .svg-project-folio { 
        width: 40vw; //800px a la fin
    }
    
    .slide-folio-2 {
        background-image: linear-gradient(45deg, #DD5C5C 0%, #DD5C5C 22%,#FEBC78 22%,#FEBC78 50%,transparent 50%, transparent 100%);
    }
}