@import '../../../App.scss';

//////// rainyDay customization /////////

.col-preview .h3-rainy {
    font-size: 4.563em;//regler le bail bizarre avec le texte
    color: $color-clear;
}

.col-preview .b-rainy {
    color: $color-dark;
}

.mark-tech-rainy {
    color: $color-dark;
}

.card-rainy {
    background-image: url("../../../assets/card-projects/Accueil\ Mobile.png");
}

.svg-project-rainy { 
    width: 650px; //800px a la fin
    margin: 6vh 0 0 -11vw;
    position: absolute;
}
.svg-project-rainy-2 { 
    width: 660px; //potentiellement 810px pour les ordi
    margin: 5.2vh 0 0 -13.3vw;
}

.slide-rainy { // slide d'animation
    // background-color: blue; 
}

.slide-rainy-2 {
    background-image: linear-gradient(45deg, black 0%, black 27%,#E3B200 27%,#E3B200 70%,transparent 70%, transparent 100%); // for laptop 45% au lieu de 70% et au lieu de 27% c'est 22%, ensuite pour les mobile je ferais du cas par cas car le svg dépasse un peu
}

@media screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .card-rainy {
        background-image: url("../../../assets/card-projects/Accueil\ Tablette\ .png");
    }

    .svg-project-rainy { 
        width: 800px; //800px a la fin
    }

    .svg-project-rainy-2 { 
        width: 810px; //potentiellement 810px pour les ordi
    }

    }

@media screen and (min-width: 1224px) {
    /* ordinateurs */

    .card-rainy {
        background-image: url("../../../assets/card-projects/Accueil.png");
    }

    .svg-project-rainy { 
        width: 45vw; //800px a la fin
    }

    .svg-project-rainy-2 { 
        width: 46vw; //potentiellement 810px pour les ordi
    }

    .slide-rainy-2 {
        background-image: linear-gradient(45deg, black 0%, black 22%,#E3B200 22%,#E3B200 50%,transparent 50%, transparent 100%);
    }
    }