.mission {
  overflow: hidden;
  background-image: linear-gradient(
    135deg,
    $color-clear 0%,
    $color-clear 24%,
    $main-color 24%,
    $secondary-color 45%,
    $color-clear 45%,
    $color-clear 100%
  );
}

.mission strong {
  padding-bottom: 8px;
}

.head-mission {
  height: $max-height-vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-mission h3 {
  font-size: $sz14;
}

.head-mission-img {
  height: $half-height-vh;
}

.main-mission {
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.citation-mission {
  padding: 0 4%;
  font-size: $sz11;
}

q::first-line {
  color: $color-clear;
}

.synopsis {
  height: $half-height-vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 0 5%;
  font-size: $sz4;
}

.synopsis strong {
  color: white;
}

.half-mission-img {
  height: 75vh;
  width: $max-width-percent;
  max-height: 987px;
  display: flex;
  justify-content: center;
}

.cd-1 {
  width: 95%;
  max-width: 1474px;
  border-radius: $arrondi;
}

.about-mission {
  height: $half-height-vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 0 5%;
  font-size: $sz4;
}

.github {
  padding: 7px;
  border-radius: $arrondi;
  font-size: $sz1;
  font-family: "abril", Helvetica, sans-serif;
  color: white;
  background-color: black;
}

.github:hover {
  animation: cardHover 0.8s 1 ease-in-out;
}

.card-mission {
  width: $max-width-percent;
}

.cd-img {
  width: $max-width-percent;
  margin: 20px 0;
}

.card-mission-img-type1 {
  height: 60vh;
}

.card-mission-img-type2 {
  height: 80vh;
}

.card-mission-img-type3 {
  height: $half-height-vh;
}

.returnHome {
  width: $max-width-percent;
  margin: 0px 0 60px 0;
  text-align: center;
  font-size: $sz11;
}

.returnHome a {
  color: black;
}

.returnHome a:hover {
  animation: shake 1s 1 ease;
}

@media screen and (min-width: 560px) {
  .head-mission h3 {
    font-size: $sz15;
  }
}

@media screen and (min-width: 763px) {
  .head-mission h3 {
    font-size: $sz17;
  }

  .citation-mission {
    font-size: $sz16;
  }

  .synopsis {
    height: $half-height-vh;
    padding: 0 3% 0 3%;
    font-size: $sz5;
  }

  .about-mission {
    height: $half-height-vh;
    padding: 0 3% 0 3%;
    font-size: $sz5;
  }

  .card-mission {
    display: flex;
    justify-content: center;
  }

  .card-part-one {
    width: 45%;
    margin-right: 5%;
  }

  .card-mission-img-type1 {
    height: 60vh;
  }

  .card-mission-img-type2 {
    height: 60vh;
  }

  .card-part-two {
    width: 45%;
    display: flex;
    align-items: center;
  }

  .card-mission-img-type3 {
    height: 80vh;
  }
}

@media screen and (min-width: 1024px) {
  .main-mission {
    align-items: baseline;
  }

  .citation-mission {
    width: 68%;
  }

  .synopsis {
    height: $half-height-vh;
    padding: 0 40% 0 3%;
  }

  .about-mission {
    height: $half-height-vh;
    padding: 0 40% 0 3%;
  }

  .card-part-one {
    width: 35%;
    margin-right: 5%;
  }

  .card-mission-img-type1 {
    height: 60vh;
  }

  .card-mission-img-type2 {
    height: 60vh;
  }

  .card-part-two {
    width: 35%;
  }

  .card-mission-img-type3 {
    height: $max-height-vh;
  }
}

@media screen and (min-width: 2560px) {
  .synopsis,
  .about-mission {
    font-size: $sz12;
  }
}
