@font-face {
    font-family: 'abril';
    src: url('./assets/webfonts/Abril/AbrilFatface-Regular.ttf') format('truetype');
  }
@font-face {
  font-family: 'manrope';
  src: url('./assets/webfonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'manrope-light';
  src: url('./assets/webfonts/Manrope/Manrope-ExtraLight.ttf') format('truetype');
}

//font projet

@font-face {
  font-family: 'newyorker';
  src: url('./assets/webfonts-project/NewYorker/newyrken.ttf') format('truetype');
}
@font-face {
  font-family: 'newyorker2';
  src: url('./assets/webfonts-project/NewYorker/newyorkr.ttf') format('truetype');
}
@font-face {
  font-family: 'neon';
  src: url('./assets/webfonts-project/neon/neon2.ttf') format('truetype');
}
@font-face {
  font-family: 'limelight';
  src: url('./assets/webfonts-project/Limelight/Limelight-Regular.ttf') format('truetype');
}


// SCSS import 

@import './assets/scss/variables';
@import './assets/scss/mixins';
@import './assets/scss/placeholders';

/*Police*/

h1 {
  font-family: "abril", Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "manrope-light", Helvetica, sans-serif;
}

h3 {
  font-family: "abril", "manrope", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

p, strong, em {
  font-family: "manrope", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a :hover{
  text-decoration: none;
}

mark {
  background: transparent;
}

.slideTech mark {
  font-family: "abril", Arial, Helvetica, sans-serif;
}

b {
  font-weight: lighter;
}

/* Fonts Project*/

.h3-rainy {
  font-family: "newyorker", Arial, Helvetica, sans-serif;
}

.h3-figur {
  font-family: Arial, "newyorker", Helvetica, sans-serif;
}

.h3-folio {
  font-family: "neon" ,"newyorker", Arial, Helvetica, sans-serif;
}

.h3-acacia {
  font-family: "limelight", Arial, Helvetica, sans-serif;
}

.b-rainy, .b-rainy-md {
  font-family: "newyorker2", Arial, Helvetica, sans-serif;
}