/* reset */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* color selection */

::selection {
  background-color: #E3004C;
}

/* delete style button */

button {
  background-color: transparent;
  border:none;
  outline: none;
}

/*Fullpage reset*/
.section {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: #E3004C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a10237;
}

body{
  /* for Firefox */
  scrollbar-width: none;
}

body::-webkit-scrollbar { 
  /* for WebKit */
  display: none;
}