@import '../App.scss';

.mission {
    background-image: linear-gradient(45deg, $color-clear 0%, $color-clear 25%, $main-color 25%, $main-color 45%, $color-clear 45%, $color-clear 100%);
}

.head-mission {
    height: $all-height;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-mission h3 {
    font-size: $h3mission-mb;
}

.main-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    height: $half-height;
    display: flex;
    align-items: center;
    text-align: $text-justify;
    padding: 0 5%;  
}

.about-mission {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: $text-justify;
    padding: 0 5%; 
}

.about-mission strong {
    font-size: $strong;
    padding: 2% 0;
}

.mobile-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-between-mobile {
    font-size: $strong;
    font-family: "manrope-light", "manrope", Helvetica, sans-serif;
}

/*for the img*/

.head-mission-img {
    height: $half-height;
    background-image: url('../assets/img-mission/RainyDay2.png');
}

.half-mission-img {
    height: 529px;
    width: 365px;
    border-radius: $border-xs;
    background-image: url('../assets/img-mission/RainyDay-users-tablette.png');
}

.mobile-mission-img {//revoir les deux pour eviter les repetitions
    height: 50vh;
    min-height: 412px;
    width: 252px;
    margin: 50px 0 50px 0;
    border-radius: $border-xs;
}

.mb1 {
    background-image: url('../assets/img-mission/RainyDay-mobile2.png');
}

.mb2 {
    background-image: url('../assets/img-mission/RainyDay-users-mobile.png'); 
}

@media screen and (min-width: 763px) {
    /* tablettes et ordinateurs */
    .head-mission h3 {
        font-size: $h3mission-lp;
    }

    .main-mission {
        font-size: $strong;
        padding: 0 8%;
    }

    .half-mission-img {
        width: 397px;
    }

    .mobile-mission {
        flex-direction: row;
        justify-content: center;
        padding: 60px 0;
    }

    /*for the img*/

    .mobile-mission-img {//revoir les deux pour eviter les repetitions
        height: 60vh;
        margin: 0 30px;
    }

    }

    @media only screen and (orientation : landscape) {
        /* Styles pour cette Media Queries */
        .main-mission {
            padding: 0;
        }
        }

    @media screen and (min-width: 1024px) {
        /* ordinateurs */
        .main-mission {
            font-size: 2.125em;
        }

        .about-mission {
            height: 30vh;
            margin: 5% 0;
        }

        /*for the img*/

        .head-mission-img {
            border-radius: $border-xs;
        }

        .half-mission-img {
            height: 80vh;
            width: 80vw;
            max-width: 1474px;
        }

        .mobile-mission-img {//revoir les deux pour eviter les repetitions
            height: 60vh;
            margin: 0 8vw;
        }

        }   