@import '../App.scss';
@import './scss\ mission/rainyday.scss';
@import './scss\ mission/figurtoys.scss';
@import './scss\ mission/portfolio.scss';
@import './scss\ mission/acacia.scss';

.mission {
    font-family: "manrope", Helvetica, sans-serif;
    overflow: hidden;
    background-image: linear-gradient(135deg, $color-clear 0%, $color-clear 25%, $main-color 25%, $main-color 45%, $color-clear 45%, $color-clear 100%);
}

.mission strong {
    padding-bottom: 8px;
}

.head-mission {
    height: $all-height;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-mission h3 {
    font-size: $h3mission-mb;
}

.head-mission-img {
    height: $half-height;
}

.main-mission {//on va voir si c'est vraiment nécessaire
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
}

    .citation-mission {
        font-size: 35px;
        padding:  0 4%;
    }

        q::first-line {
            color: $color-clear;
        }

.synopsis {
    height: $half-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: $text-justify;
    padding: 0 5%;
    font-size: 18px;
}

    .synopsis strong {
        color: white;
    }

.half-mission-img {
    height: 75vh;
    max-height: 987px;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.cd-1 {
    width: 95%;
    max-width: 1474px;
    border-radius: $border-xs;
}

.about-mission {
    height: $half-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: $text-justify;
    padding: 0 5%;
    font-size: 18px;
}

.github { 
    padding: 7px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: "abril", Helvetica, sans-serif;
}

    .github:hover {
        animation: cardHover 0.8s 1 ease-in-out;
    }

.card-mission {
    width: 100%;
}

.cd-img{
    width: 100%;
    margin: 20px 0;
}

.card-mission-img-type1 {
    height: 60vh;
}

.card-mission-img-type2 {
    height: 80vh;
}

.card-mission-img-type3 {
    height: 50vh;
}

.returnHome{
    width: 100%;
    margin: 0px 0 60px 0;
    text-align: center;
    font-size: 35px;
}

@keyframes shake{
    30% {
        padding-right: 10px;
    }

    60% {
        padding-left: 10px;
    }

    100% {
        padding-right: 0;
    }
}

.returnHome a{
    font-family: "manrope-light", Helvetica, sans-serif;
    color: black;
}

.returnHome a:hover{
    animation: shake 1s 1 ease;
}


@media screen and (min-width: 763px) {
    /* tablettes et ordinateurs */
    .head-mission h3 {
        font-size: $h3mission-lp;
    }

    .citation-mission {
        font-size: 90px;
    }

    .synopsis {
        height: $half-height;
        padding: 0 3% 0 3%;
        font-size: 22px;
    }

    .about-mission {
        height: $half-height;
        padding: 0 3% 0 3%;
        font-size: 22px;
    }

    .card-mission {
        display: flex;
        justify-content: center;
    }

    .card-part-one {
        width: 45%;
        margin-right: 5%;
    }

        .card-mission-img-type1 {
            height: 60vh;
        }
        
        .card-mission-img-type2 {
            height: 60vh;
        }
    

    .card-part-two {
        width: 45%;
        display: flex;
        align-items: center;
    }
    
        .card-mission-img-type3 {
            height: 80vh;
        }

    }

@media screen and (min-width: 1024px) {
    /* ordinateurs */

    .synopsis {
        height: $half-height;
        padding: 0 40% 0 3%;
    }

    .main-mission {
        align-items: baseline;
    }

        .citation-mission {
            width: 68%;
        }

    .about-mission {
        height: $half-height;
        padding: 0 40% 0 3%;
    }

    .card-part-one {
        width: 35%;
        margin-right: 5%;
    }

        .card-mission-img-type1 {
            height: 60vh;
        }
        
        .card-mission-img-type2 {
            height: 60vh;
        }
    
    .card-part-two {
        width: 35%;
    }

        .card-mission-img-type3 {
            height: 100vh;
        }

}   